[user]
    name = Franklin Hu
    email = franklin@twitter.com
[core]
    editor = vim
    whitespace = trailing-space,space-before-tab
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = auto
[alias]
    b = branch
    co = checkout
    f = fetch
    lg = log --graph --pretty=format:'%Cred%h%Creset %C(cyan)%an%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
    log1 = log --format=oneline
    m = merge
    st = status -sb
    status = status -sb
[help]
    autocorrect = 1
[rerere]
    enabled = 1 # replays merge conflict resolutions
