[user]
	name = Franklin Hu
	email = franklin.who@gmail.com
[core]
	editor = vim
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = auto
[alias]
    co = checkout
    f = fetch
    lg = log --graph --pretty=oneline --abbrev-commit --decorate
    log1 = log --format=oneline
    m = merge
    st = status
