[user]
    name = Franklin Hu
    email = franklin@twitter.com
[core]
    editor = vim
    whitespace = trailing-space,space-before-tab
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = auto
[alias]
    b = branch
    co = checkout
    f = fetch
    lg = log --graph --pretty=oneline --abbrev-commit --decorate
    log1 = log --format=oneline
    m = merge
    st = status
